@import './reset.css'; .inner { width: 1400px; margin: 0 auto; } 
.blind { display: none !important; } 

body { font-family: Pmedium; overflow-x: hidden; } 
a { text-decoration: none; color: #000; } 
.section { height: 100vh; } 
.section h2 { font-family: Pbold; } 
.highlight { background: #FBC33A; } 

::-webkit-scrollbar { width: 8px; } 
::-webkit-scrollbar-thumb { background-color: #212121; border-radius: 10px; } 
::-webkit-scrollbar-track { background-color: transparent; z-index: -10; } 
::selection { background-color: #FF6948; color: #fff; } 

#example { width: 100vw; position: absolute; top: -50px; left: 0; opacity: .5; z-index: -1000; } 

.loading { background: #fff; z-index: 1000; width: 100vw; height: 100vh; position: fixed; top: 0; } 
.container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; } 
.dash { margin: 0 15px; width: 35px; height: 15px; border-radius: 8px; background: #FF6948; box-shadow: 0 0 10px 0 #e0c9aa; } 
.uno { margin-right: -18px; transform-origin: center left; animation: spin 3s linear infinite; } 
.dos { transform-origin: center right; animation: spin2 3s linear infinite; animation-delay: .2s; } 
.tres { transform-origin: center right; animation: spin3 3s linear infinite; animation-delay: .3s; } 
.cuatro { transform-origin: center right; animation: spin4 3s linear infinite; animation-delay: .4s; } 

@keyframes spin { 
 0% { transform: rotate(0deg); } 
25% { transform: rotate(360deg); } 
30% { transform: rotate(370deg); } 
35% { transform: rotate(360deg); } 
100% { transform: rotate(360deg); } 
 }

@keyframes spin2 { 
 0% { transform: rotate(0deg); } 
20% { transform: rotate(0deg); } 
30% { transform: rotate(-180deg); } 
35% { transform: rotate(-190deg); } 
40% { transform: rotate(-180deg); } 
78% { transform: rotate(-180deg); } 
95% { transform: rotate(-360deg); } 
98% { transform: rotate(-370deg); } 
100% { transform: rotate(-360deg); } 
 }

@keyframes spin3 { 
 0% { transform: rotate(0deg); } 
27% { transform: rotate(0deg); } 
40% { transform: rotate(180deg); } 
45% { transform: rotate(190deg); } 
50% { transform: rotate(180deg); } 
62% { transform: rotate(180deg); } 
75% { transform: rotate(360deg); } 
80% { transform: rotate(370deg); } 
85% { transform: rotate(360deg); } 
100% { transform: rotate(360deg); } 
 }

@keyframes spin4 { 
 0% { transform: rotate(0deg); } 
38% { transform: rotate(0deg); } 
60% { transform: rotate(-360deg); } 
65% { transform: rotate(-370deg); } 
75% { transform: rotate(-360deg); } 
100% { transform: rotate(-360deg); } 
 }

@keyframes osc-l { 
 0% { left:40%; } 
50% { left:50%; } 
100% { left:40%; } 
 }
@keyframes osc-r { 
 0% { left:60%; } 
50% { left:50%; } 
100% { left:60%; } 
 }

/* ----------------------- mouse -------------------------- */
.cursor { width: 18px; height: 18px; border-radius: 50%; background-color: #FF6948; position: absolute; z-index: 150; top: 0; right: 0; transform: translate(-50%, -50%); transform-origin: 100% 100%; transition: transform 0.3s ease; transition-property: background, transform; } 
.cursor_follower { position: absolute; width: 50px; height: 50px; background: transparent; z-index: 120; opacity: .4; border: 1px solid #000; border-radius: 50%; user-select: none; pointer-events: none; transition: transform 0.6s ease-in-out, opacity 0.2s ease-in-out; } 

section .subTitle { position: relative; text-align: center; font-size: 30px; } 
/* ----------------------------------------------------------------- */
.section0 { background: #FF552F; background-size: cover; z-index: -70; } 
.section0 article { height: 100vh; display: flex; justify-content: space-around; align-items: stretch; flex-direction: column; } 
.section0 article #biInfo { text-align: left; margin-top: 220px; } 
.section0 article #biInfo img { -webkit-user-drag: none; } 
.section0 article #biInfo #serviceInfo { font-family: semiBold; color: #373151; font-size: 20px; letter-spacing: 2px; } 
.section0 article #biInfo #serviceInfo::after { content: url(../source/sec0_app.png); position: absolute; margin: 20px 0 0 -290px; } 
.section0 article #tools { text-align: left; margin-top: 200px; width: 155px; } 
.section0 article #tools li { display: inline-block; } 
.section0 article #tools li img { width: 80%; } 
.section0 article #mainMockup { position: absolute; right: 10%; top: 10%; height: 80vh; -webkit-user-drag: none; } 
.section0 #mainInfo { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: 70px; z-index: 10; } 
.section0 #mainInfo #infoLeft { display: flex; align-items: flex-start; } 
.section0 #mainInfo #infoLeft .infoType { line-height: 170%; } 
.section0 #mainInfo ul { display: inline-block; margin-right: 10px; text-align: left; font-size: 15px; } 
.section0 #mainInfo ul:first-child { margin-right: 25px; } 
.section0 #mainInfo ul .infoType { font-family: Plight; } 
.section0 #mainInfo ul .infoCon { font-family: semiBold; } 

/* ---------------------------------------------------------------- */
.section1 { margin-top: 150px; text-align: center; padding-bottom: 200px; } 
.section1 .subTitle { color: #474747; font-size: 30px; } 
.section1 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: -30px; width: 14px; height: 14px; margin-left: -95px; border-radius: 10px; z-index: -10; } 
.section1 article { display: flex; align-items: center; justify-content: center; margin-top: 150px; } 
.section1 article #sec1_txt { display: inline-block; margin-left: 40px; } 
.section1 article #sec1_txt h3 { font-size: 66px; font-family: semiBold; margin-bottom: 20px; line-height: 140%; } 
.section1 article #sec1_txt p { width: 1300px; color: #666; font-size: 22px; font-family: semiBold; line-height: 150%; } 
.colorOR { color: #FF6948; } 

/* ----------------------------------------------------------------- */
.section2 { height: 150vh; background: #F4F3F9; } 
.section2::before { content: ''; background: #F4F3F9; width: 100vw; height: 150vh; position: absolute; margin-top: -650px; border-radius: 50%; z-index: -10;}
.section2 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: -30px; width: 14px; height: 14px; margin-left: -75px; border-radius: 10px; z-index: 10; } 
.section2 article { text-align: left; } 
.section2 article #sec2_txt { display: flex; justify-content: space-between; width: 1300px; margin-top: 200px; } 
.section2 article #sec2_txt div { width: 630px; } 
.section2 article #sec2_txt h3 { font-size: 28px; font-family: Plight; } 
.section2 article .sec2_bold { font-family: Pbold; } 
.section2 article #sec2_txt p { color: #666; margin-top: 40px; font-size: 20px; font-family: regular; line-height: 130%; } 

.section2 article #sec2_box { display: flex; justify-content: space-between; margin: 180px 0 100px 0; } 
.section2 article #sec2_box div { display: flex; align-items: flex-end; justify-content: space-between; width: 420px; height: 420px; border-radius: 50%; } 
.section2 article #sec2_box div:first-child::after { content: ''; border-top: 3px solid #303444; width: 620px; margin: -60px -920px 0 0; } 
.section2 article #sec2_box .sec2_boxTxt { color: #fff; font-size: 46px; font-family: Pbold; } 
.section2 article #sec2_box .sec2_subTxt { color: #868686; font-size: 24px; font-family: regular; margin-top: 20px; } 

.section2 article #sec2_arrow div { width: 0; height: 0; margin: 15px auto; border-radius: 7px; border-left: 15px solid transparent; border-right: 15px solid transparent; } 
.section2 article #sec2_arrow #arrow0 { border-top: 20px solid #303444; } 
.section2 article #sec2_arrow #arrow1 { border-top: 20px solid #303444c8; } 
.section2 article #sec2_arrow #arrow2 { border-top: 20px solid #30344485; } 
.section2 article #sec2_bottom { font-family: Plight; font-size: 36px; text-align: center; margin-top: 70px; line-height: 150%; } 
.section2 article #sec2_bottom .colorNy { color: #4C38AE; font-family: Pbold; } 

/* -------------------------------------------------------------------------- */
.section3 { height: 100vh; overflow-y: hidden; padding-top: 200px; background: #F4F3F9; } 
.wrapper { --color: #373151; --color-invert: #373151; --clip-path: circle(70px at left); --clip-path-hover: circle(120px at left); --clip-path-clicked: circle(100vw at left); --duration: .4s; --timing-function: ease; position: relative; display: flex; justify-content: center; align-items: center; width: 100%; } 
.wrapper .video { height: 100vh; overflow: hidden; display: flex; justify-content: center; align-items: center; margin-left: 15px; -webkit-clip-path: var(--clip-path); clip-path: var(--clip-path); transition: -webkit-clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function); } 
.wrapper .video video { position: fixed; background: #c4cbde; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; transform: translate(-50%, -50%); } 
.wrapper .text { position: relative; text-transform: uppercase; font-weight: 600; letter-spacing: 0.3px; opacity: var(--opacity, 1); transition: opacity 0.3s var(--timing-function) 0.2s; } 
.wrapper .text::before, .wrapper .text::after { content: ""; position: absolute; bottom: 0; left: -1px; right: 25px; height: 0; } 
.wrapper .text::before { box-shadow: 26px 0 0 1px var(--color); right: var(--r, 100%); opacity: var(--opacity, 0); transition: right 0.5s ease-in, opacity 0.1s linear; } 
.wrapper .text::after { box-shadow: 26px 0 0 1px var(--color-invert); -webkit-clip-path: var(--clip-path); clip-path: var(--clip-path); transition: -webkit-clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function); } 
.wrapper .text > span::before, .wrapper .text > span::after { content: attr(data-text); padding-left: 30px; } 
.wrapper .text > span::before { color: var(--color); } 
.wrapper .text > span::after { color: var(--color-invert); -webkit-clip-path: var(--clip-path); clip-path: var(--clip-path); transition: -webkit-clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function); position: absolute; left: 0; } 
.wrapper input { width: 220px; height: 40px; margin: auto; position: absolute; left: 0; right: 0; border-radius: 40px; outline: none; z-index: 2; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; } 
.wrapper input:focus { outline: 0; } 
.wrapper input:hover ~ .video { -webkit-clip-path: var(--clip-path-hover); clip-path: var(--clip-path-hover); } 
.wrapper input:hover ~ .text::before { --r: 25px; --opacity: 1; } 
.wrapper input:hover ~ .text::after { -webkit-clip-path: var(--clip-path-hover); clip-path: var(--clip-path-hover); } 
.wrapper input:hover ~ .text > span::after { -webkit-clip-path: var(--clip-path-hover); clip-path: var(--clip-path-hover); } 
.wrapper input:checked { width: 100%; height: 100%; border-radius: 0; } 
.wrapper input:checked ~ .video { -webkit-clip-path: var(--clip-path-clicked); clip-path: var(--clip-path-clicked); } 
.wrapper input:checked ~ .text { --opacity: 0; transition: opacity 0.3s var(--timing-function); } 
.wrapper input:checked ~ .text::after { -webkit-clip-path: var(--clip-path-clicked); clip-path: var(--clip-path-clicked); } 
.wrapper input:checked ~ .text > span::after { -webkit-clip-path: var(--clip-path-clicked); clip-path: var(--clip-path-clicked); } 

/* ----------------------------------------------------------------- */
.section4 { padding-top: 150px; background: #F4F3F9; } 
.section4 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: -30px; width: 14px; height: 14px; margin-left: -110px; border-radius: 10px; z-index: 10; } 
.section4 #interviewAll { display: inline-block; width: 100%; overflow: hidden; margin: 150px 0; } 

.section4 #interviewAll .interviewLine { display: flex; justify-content: space-around; animation: slide-slow 3s infinite; margin-top: 0%; animation-iteration-count: infinite; } 
.section4 #interviewAll .interviewLine img { margin: 10px 20px; } 

@keyframes slide-slow { 
    from { margin-left: 100%; } 
    75% { margin-left: 0%; } 
    100% { margin-left: -15%; } 
}

/* .section4 #interviewAll .interview { display: flex; align-items: center; padding: 20px 40px; margin: 0 30px; width: 680px; background: #fff; border-radius: 30px; box-shadow: 10px 50px 120px rgba(133, 133, 133, 0.637), inset -1.23444e-15px -20.16px 20.16px #ECECEC, inset 1.23444e-15px 20.16px 20.16px #FFFFFF; }  */
/* .section4 #interviewAll .interview ul { display: inline-block; margin: 20px 0; font-family: semiBold; } 
.section4 #interviewAll .interview ul li { display: inline; padding: 0 20px; } 
.section4 #interviewAll .interview ul li:first-child { padding: 0 20px 0 0 !important; border-right: 2px solid #000; } 
.section4 #interviewAll .interview ul .jobBg { color: #fff; background: #404040; padding: 5px 8px; } 
.section4 #interviewAll .interview p { font-size: 20px; font-family: regular; line-height: 130%; } */

/* --------------------------------------------------------------------- */
.section5::before { content: ''; background: #F4F3F9; width: 100vw; height: 180vh; position: absolute; margin-top: -950px; border-radius: 50%; z-index: -10; }
.section5 article { text-align: center; }
.section5 article #sec5_txt { display: flex; align-items: center; flex-direction: column; justify-content: center; margin: 0 auto 200px auto; background-color: #fff; text-align: center; width: 1300px; height: 400px; border-radius: 200px;}
.section5 article #sec5_txt h3 { color: #7362B6; font-size: 30px; font-family: extraBlod; margin-bottom: 40px; } 
.section5 article #sec5_txt p { color: #3D3755; font-size: 28px; font-family: semiBold; line-height: 150%; } 
.section5 article #handMockup { margin: 0 auto; }

/* ----------------------------------------------------------------- */
.section6 { height: 150vh; background: #312D40 ; text-align: center; display: flex; align-items: center; padding-top: 100px; } 
.section6::before { content: ''; background: #312D40; width: 100vw; height: 170vh; position: absolute; margin-top: -3200px; z-index: -100; }
.section6 .subTitle { color: #fff; }
.section6 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: -30px; width: 14px; height: 14px; margin-left: -95px; border-radius: 10px; z-index: 10; }
.section6 article { display: flex; align-items: center; justify-content: space-between; }
.section6 article .sec6_con { display: flex; flex-direction: column; }
.section6 article .sec6_con p { color: #fff; }

/* ----------------------------------------------------------------- */
.section7 { padding-top: 100px; height: 100vh; } 
.section7 .subTitle::before { content: ''; background-color: #FF6948; position: absolute; margin-left: -7px; top: -11px; width: 13px; height: 24px; transform: rotate(-25deg); z-index: -10; } 
.section7 article { display: flex; flex-direction: column; justify-content: space-between; } 
.section7 article #sec7_txt { margin-top: 50px; } 
.section7 #sec7_txt #sec7_txt0 { font-size: 25px; font-family: regular; line-height: 130%; } 
.section7 #sec7_txt #sec7_txt1 { margin-top: 10px; color: #666; font-size: 18px; font-family: regular; line-height: 120%; } 

.section7 article #sec7_bottom { display: flex; justify-content: space-around; margin-top: 100px; font-size: 27px; } 
.section7 #sec7_bottom p { margin-top: 40px; line-height: 150%; } 
.section7 #sec7_bottom #asIs { display: inline-block; } 
.section7 #sec7_bottom #asIs #asIs_title { display: inline-block; width: 220px; color: #fff; background: #373151; padding: 20px; border-radius: 0 20px 20px 0; } 
.section7 #sec7_bottom #asIs p { font-family: Plight; } 
.section7 #sec7_bottom #asIs .sec7_bold { font-family: semiBold; } 
.section7 #sec7_bottom #toBe { display: inline-block; } 
.section7 #sec7_bottom #toBe #toBe_title { display: inline-block; width: 220px; font-family: Pbold; color: #373151; background: #FF6948; padding: 20px; border-radius: 0 20px 20px 0; } 
.section7 #sec7_bottom #toBe p { font-family: semiBold; } 

/* ---------------------------------------------------------------------- */
.section8 .subTitle { margin-top: 100px; } 
.section8 .subTitle::before { content: '02'; padding: 15px 25px 25px 15px; border-radius: 50%; font-size: 10px; font-family: Plight; position: absolute; top: -30px; background-color: #FCC33A; z-index: -10; } 
.section8 article { text-align: center; } 
.section8 article p { margin-top: 50px; font-size: 17px; line-height: 150%; } 
.section8 article #serviceLine { height: 360px; margin-top: 100px; display: flex; align-items: center; justify-content: space-between; flex-direction: column; } 

.section8 #serviceLine .lineSet { width: 1000px; display: flex; align-items: center; justify-content: center; } 
.section8 #serviceLine .lineSet span { padding: 0 20px; } 
.section8 #serviceLine #line0 { width: 680px; content: url(../source/sec7_line0.png); } 
.section8 #serviceLine #line1 { width: 680px; content: url(../source/sec7_line1.png); } 
.section8 #serviceLine #line2 { width: 680px; content: url(../source/sec7_line2.png); } 

/* ---------------------------------------------------------------------- */
.section9 { height: 100vh; background: #efefef; text-align: center; } 
.section9 .inner { height: 100%; display: flex; align-items: center; justify-content: space-around; } 
.section9 .sec9_process { display: flex; flex-direction: column; line-height: 150%; } 
.section9 .sec9_process div { width: 360px; height: 160px; display: flex; align-items: center; justify-content: center; border-radius: 23px; box-shadow: 5px 5px 20px 5px rgba(90, 90, 90, 0.17); } 
.section9 .sec9_process .process0 { font-size: 20px; font-family: Pbold; margin-bottom: 50px; } 
.section9 .sec9_process .processN { background: #373151; color: #fff; } 
.section9 .sec9_process .processOr { background: #FF6948; color: #373151; } 
.section9 .sec9_process .process1 { background: #fff; margin-bottom: 30px; z-index: 10; } 

/* ------------------------------------------------------------------- */
.section10 { height: 100vh; } 

/* --------------------------------------------------------------- */
#banner { height: 65vh; background: #373151; } 
#banner .inner { display: flex; flex-direction: column; justify-content: space-around; height: 100%; } 
#banner #banner_main { display: flex; justify-content: space-between; margin: 120px 0 0 100px; color: #fff; font-size: 80px; font-family: Pbold; z-index: 10; } 
#banner #banner_main:first-child::before { content: url(../source/banner_chat.png); position: absolute; margin: -20px 0 0 -150px; } 
#banner #banner_txt { display: inline-block; margin: 60px auto 0 auto; background: #fff; padding: 10px 50px; border-radius: 15px; text-align: center; } 

/* ---------------------------------------------------------------------- */
.section11 { padding-top: 200px; margin-bottom: 200px; } 
.section11 #sec11_box { display: flex; justify-content: space-around; } 
.section11 .sec11_chat { display: flex; align-items: center; justify-content: center; text-align: center; width: 660px; height: 200px; background: #fff; font-size: 36px; line-height: 140%; border-radius: 40px; box-shadow: 3.96786e-15px 64.8px 129.6px rgba(51, 51, 51, 0.24), inset -1.23444e-15px -20.16px 20.16px #ECECEC, inset 1.23444e-15px 20.16px 20.16px #FFFFFF; } 
.section11 article { display: flex; justify-content: space-around; align-items: center; margin-top: 200px; } 
.section11 article h3 { font-size: 28px; font-family: Pbold; line-height: 130%; } 
.section11 article h3::before { content: url(../source/sec9_icon.png); position: absolute; margin: -150px 0 0 -50px; } 
.section11 article p { width: 500px; color: #323232; margin-top: 40px; font-size: 20px; line-height: 140%; } 
.section11 article img { -webkit-user-drag: none; } 


/* ------------------------------- footer ------------------------------------ */
footer { padding: 50px 0 30px 0; text-align: center; font-family: Plight; background-color: #212121; color: #fff; } 
footer .inner { display: flex; flex-direction: column; } 
footer h3 { font-size: 17px; font-family: semiBold; } 
footer #team > li { display: inline-block; margin: 20px; } 
footer .member li { margin: 10px 0; } 
footer .inner #copy { margin-top: 30px; font-size: 13px; } 

/* scrollTop */
#scrollTop { background-color: rgba(255, 255, 255, 0.925); font-family: Plight; box-shadow: 0px 1.5px 3px #929292; color:#000; align-content: center; width: 50px; height: 50px; border-radius: 50px; text-align: center; font-size: 12px; bottom: 40px; right: 50px; position: fixed; z-index: 3; cursor: pointer; } 
#scrollTop:hover { transition: 0.5s ease; background-color: #dededee9; } 
#scrollTop::before { content: "\2303"; position: absolute; width: 50px; top: 10px; left: 0; color: #000; font-size: 18px; } 
#scrollTop .topTxt { display: block; margin-top: 23px; font-size: 11px; } 


/* ------------------------- responsive --------------------------- */
@media screen and (min-width: 768px) { body { background-color: #6c6c6c; } 
 }

@media screen and (min-width: 1024px) { body { background-color: #a8a8a8; } 

 .desktop { display: block; } 
 nav #gnb { position: static; width: auto; height: 50px; line-height: 50px; text-align: right; padding: 0; } 
 nav #gnb li { display: inline-block; margin: 0 20px; padding: 0; } 
 .menu-trigger { /* margin-top: -20px; */
 display: none; } 
 }

@media screen and (min-width: 1440px) { body { background-color: #fff; } 
 }
