@import './reset.css'; .inner { width: calc( 100vw * 1440 / 1920); margin: 0 auto; } 
.blind { display: none !important; } 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body { font-family: Pmedium; overflow-x: hidden; } 
a { text-decoration: none; color: #000; } 
.section { height: 100vh; } 
.section h2 { font-family: Pbold; } 
.highlight { background: #FBC33A; } 

::-webkit-scrollbar { width: calc( 100vw * 12 / 1920); } 
::-webkit-scrollbar-thumb { background-color: #212121; border-radius: calc( 100vw * 10 / 1920); } 
::-webkit-scrollbar-track { background-color: transparent; z-index: -10; } 
::selection { background-color: #303444; color: #fff; } 

/* #example { width: 100vw; position: absolute; top: -50px; left: 0; opacity: .5; z-index: -1000; } */

.loading { background: #fff; z-index: 1000; width: 100vw; height: 100vh; position: fixed; top: 0; } 
.container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; } 
.dash { margin: 0 15px; width: 35px; height: 15px; border-radius: 8px; background: #FF6948; box-shadow: 0 0 10px 0 #e0c9aa; } 
.uno { margin-right: -18px; transform-origin: center left; animation: spin 3s linear infinite; } 
.dos { transform-origin: center right; animation: spin2 3s linear infinite; animation-delay: .2s; } 
.tres { transform-origin: center right; animation: spin3 3s linear infinite; animation-delay: .3s; } 
.cuatro { transform-origin: center right; animation: spin4 3s linear infinite; animation-delay: .4s; } 

@keyframes spin { 
 0% { transform: rotate(0deg); } 
25% { transform: rotate(360deg); } 
30% { transform: rotate(370deg); } 
35% { transform: rotate(360deg); } 
100% { transform: rotate(360deg); } 
 }

@keyframes spin2 { 
 0% { transform: rotate(0deg); } 
20% { transform: rotate(0deg); } 
30% { transform: rotate(-180deg); } 
35% { transform: rotate(-190deg); } 
40% { transform: rotate(-180deg); } 
78% { transform: rotate(-180deg); } 
95% { transform: rotate(-360deg); } 
98% { transform: rotate(-370deg); } 
100% { transform: rotate(-360deg); } 
 }

@keyframes spin3 { 
 0% { transform: rotate(0deg); } 
27% { transform: rotate(0deg); } 
40% { transform: rotate(180deg); } 
45% { transform: rotate(190deg); } 
50% { transform: rotate(180deg); } 
62% { transform: rotate(180deg); } 
75% { transform: rotate(360deg); } 
80% { transform: rotate(370deg); } 
85% { transform: rotate(360deg); } 
100% { transform: rotate(360deg); } 
 }

@keyframes spin4 { 
 0% { transform: rotate(0deg); } 
38% { transform: rotate(0deg); } 
60% { transform: rotate(-360deg); } 
65% { transform: rotate(-370deg); } 
75% { transform: rotate(-360deg); } 
100% { transform: rotate(-360deg); } 
 }

@keyframes osc-l { 
 0% { left:40%; } 
50% { left:50%; } 
100% { left:40%; } 
 }
@keyframes osc-r { 
 0% { left:60%; } 
50% { left:50%; } 
100% { left:60%; } 
 }

/* ----------------------- mouse -------------------------- */
.cursor { width: calc( 100vw * 18 / 1920); height: calc( 100vw * 18 / 1920); border-radius: 50%; background-color: #FF6948; position: absolute; z-index: 150; top: 0; right: 0; transform: translate(-50%, -50%); transform-origin: 100% 100%; transition: transform 0.3s ease; transition-property: background, transform; } 
.cursor_follower { position: absolute; width: calc( 100vw * 53 / 1920); height: calc( 100vw * 53 / 1920); background: transparent; z-index: 120; opacity: .4; border: 1px solid #000; border-radius: 50%; user-select: none; pointer-events: none; transition: transform 0.6s ease-in-out, opacity 0.2s ease-in-out; } 

section .subTitle { position: relative; text-align: center; font-size: calc( 100vw * 32 / 1920); } 
/* ----------------------------------------------------------------- */
.section0 { background: #FF552F; background-size: cover; z-index: -70; } 
.section0 article { height: 100vh; display: flex; justify-content: space-around; align-items: stretch; flex-direction: column; } 
.section0 article #biInfo { text-align: left; margin-top: calc( 100vw * 220 / 1920); } 
.section0 article #biInfo img { -webkit-user-drag: none; } 
.section0 article #biInfo #serviceInfo { font-family: semiBold; color: #373151; font-size: calc( 100vw * 20 / 1920); letter-spacing: calc( 100vw * 2 / 1920); } 
.section0 article #biInfo #serviceInfo::after { content: url(../source/sec0_app.png); position: absolute; margin: calc( 100vw * 20 / 1920) 0 0 calc( 100vw * -290 / 1920); } 
.section0 article #tools { text-align: left; margin-top: calc( 100vw * 200 / 1920); width: calc( 100vw * 240 / 1920); } 
.section0 article #tools li { display: inline-block; } 
.section0 article #tools li img { width: 90%; } 
.section0 article #mainMockup { position: absolute; top: 10%; right: -80%; }
.section0 article #mainMockup img { width: 33%; }
/* .section0 article #mainMockup { position: absolute; right: 10%; top: 10%; height: 80vh; -webkit-user-drag: none; }  */
.section0 #mainInfo { display: flex; align-items: flex-start; justify-content: space-between; margin-bottom: calc( 100vw * 70 / 1920); z-index: 10; } 
.section0 #mainInfo #infoLeft { display: flex; align-items: flex-start; color: #fff; } 
.section0 #mainInfo #infoLeft .infoType { line-height: 170%; } 
.section0 #mainInfo ul { display: inline-block; margin-right: calc( 100vw * 10 / 1920); text-align: left; font-size: calc( 100vw * 17 / 1920); } 
.section0 #mainInfo ul:first-child { margin-right: calc( 100vw * 25 / 1920); } 
.section0 #mainInfo ul .infoType { font-family: Plight; } 
.section0 #mainInfo ul .infoCon { font-family: semiBold; line-height: 130%; } 
.section0 article > img { margin-top: calc( 100vw * 20 /1920); } 

/* ---------------------------------------------------------------- */
.section1 { height: 80vh; margin-top: calc( 100vw * 180 / 1920); text-align: center; } 
.section1 .subTitle { color: #474747; font-size: calc( 100vw * 30 / 1920); } 
.section1 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: calc( 100vw * -30 / 1920); width: calc( 100vw * 14 / 1920); height: calc( 100vw * 14 / 1920); margin-left: calc( 100vw * -95 / 1920); border-radius: calc( 100vw * 10 / 1920); z-index: -10; } 
.section1 article { display: flex; align-items: center; justify-content: center; margin-top: calc( 100vw * 150 / 1920); } 
.section1 article #sec1_txt { display: inline-block; margin-left: calc( 100vw * 40 / 1920); } 
.section1 article #sec1_txt h3 { font-size: calc( 100vw * 66 / 1920); font-family: semiBold; margin-bottom: calc( 100vw * 20 / 1920); line-height: 140%; } 
.section1 article #sec1_txt p { width: calc( 100vw * 1300 / 1920); color: #666; font-size: calc( 100vw * 22 / 1920); font-family: semiBold; line-height: 150%; } 
.colorOR { color: #FF6948; } 

/* ----------------------------------------------------------------- */
.section2 { height: 170vh; background: #F4F3F9; border-radius: 50% 50% 0 0; padding-top : calc( 100vw * 300 / 1920 ); } 
.section2 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: calc( 100vw * -30 / 1920); width: calc( 100vw * 14 / 1920); height: calc( 100vw * 14 / 1920); margin-left: calc( 100vw * -75 / 1920); border-radius: calc( 100vw * 10 / 1920); z-index: 10; } 
.section2 article { text-align: left; margin-top: calc( 100vw * 300 / 1920 ); position: relative; } 
.section2 article #sec2_txt { display: flex; align-items: center; justify-content: space-between; margin: calc( 100vw * 200 / 1920) 0 calc( 100vw * 200 / 1920) 0; } 
.section2 article #sec2_txt h3 { font-size: calc( 100vw * 38 / 1920); font-family: Pbold; } 
.section2 article #sec2_txt p { color: #666; width: calc( 100vw * 600 / 1920); font-size: calc( 100vw * 22 / 1920); font-family: semiBold; line-height: 130%; } 

.section2 article #sec2_box { display: flex; justify-content: space-between; margin: calc( 100vw * 200 / 1920) 0 calc( 100vw * 100 / 1920) calc( 100vw * -20 / 1920); position: relative; } 
.section2 article #sec2_box div { display: flex; align-items: flex-end; justify-content: space-between; width: calc( 100vw * 420 / 1920); height: calc( 100vw * 420 / 1920); border-radius: 50%; } 
.section2 article #sec2_box div:first-child { margin-right: calc( 100vw * 55 / 1920); } 
/* .section2 article #sec2_box div:first-child::after { content: ''; border-top: calc( 100vw * 3 / 1920) solid #303444; position: absolute; width: calc( 100vw * 630 / 1920); top: calc( 100vw * 230 / 1920); margin-left: calc( 100vw * 440 / 1920); z-index: 0; }  */
.section2 article #sec2_box div img { width: 100%; -webkit-user-drag: none; z-index: 50; } 

.section2 article #sec2_arrow { width: 0; height: calc( 100vw * 105 / 1920 ); margin: 0 auto; border-left: calc( 100vw * 2.5 / 1920 ) dashed #4C38AE ; } 
.section2 article #sec2_arrow::after { background: #4C38AE; width: calc( 100vw * 8 / 1920 ); height: calc( 100vw * 8 / 1920 ); position: absolute; margin-top: calc( 100vw * -500 / 1920 ); border-radius: calc( 100vw * 5 / 1920 ); z-index: 100;}
.section2 article #sec2_bottom { font-family: Plight; font-size: calc( 100vw * 36 / 1920); text-align: center; margin-top: calc( 100vw * 100 / 1920); line-height: 150%; } 
.section2 article #sec2_bottom .colorNy { color: #4C38AE; font-family: Pbold; } 

/* -------------------------------------------------------------------------- */
.section3 { height: 85vh; overflow-y: hidden; padding-top: calc( 100vw * 200 / 1920); background: #F4F3F9; } 
.wrapper { --color: #373151; --color-invert: #373151; --clip-path: circle(70px at left); --clip-path-hover: circle(120px at left); --clip-path-clicked: circle(100vw at left); --duration: .4s; --timing-function: ease; position: relative; display: flex; justify-content: center; align-items: center; width: 100%; } 
.wrapper .video { height: 90%; overflow: hidden; display: flex; justify-content: center; align-items: center; margin-left: 15px; -webkit-clip-path: var(--clip-path); clip-path: var(--clip-path); transition: -webkit-clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function); } 
.wrapper .video video { position: fixed; background: #c4cbde; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; transform: translate(-50%, -50%); } 
.wrapper .text { position: relative; text-transform: uppercase; font-weight: 600; letter-spacing: 0.3px; opacity: var(--opacity, 1); transition: opacity 0.3s var(--timing-function) 0.2s; } 
.wrapper .text::before, .wrapper .text::after { content: ''; position: absolute; bottom: 0; left: -1px; right: 25px; height: 0; } 
.wrapper .text::before { box-shadow: 26px 0 0 1px var(--color); right: var(--r, 100%); opacity: var(--opacity, 0); transition: right 0.5s ease-in, opacity 0.1s linear; } 
.wrapper .text::after { box-shadow: 26px 0 0 1px var(--color-invert); -webkit-clip-path: var(--clip-path); clip-path: var(--clip-path); transition: -webkit-clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function); } 
.wrapper .text > span::before, .wrapper .text > span::after { content: attr(data-text); padding-left: 30px; } 
.wrapper .text > span::before { color: var(--color); } 
.wrapper .text > span::after { color: var(--color-invert); -webkit-clip-path: var(--clip-path); clip-path: var(--clip-path); transition: -webkit-clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function); transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function); position: absolute; left: 0; } 
.wrapper input { width: 220px; height: 40px; margin: auto; position: absolute; left: 0; right: 0; border-radius: 40px; outline: none; z-index: 2; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; } 
.wrapper input:focus { outline: 0; } 
.wrapper input:hover ~ .video { -webkit-clip-path: var(--clip-path-hover); clip-path: var(--clip-path-hover); } 
.wrapper input:hover ~ .text::before { --r: 25px; --opacity: 1; } 
.wrapper input:hover ~ .text::after { -webkit-clip-path: var(--clip-path-hover); clip-path: var(--clip-path-hover); } 
.wrapper input:hover ~ .text > span::after { -webkit-clip-path: var(--clip-path-hover); clip-path: var(--clip-path-hover); } 
.wrapper input:checked { width: 100%; height: 100%; border-radius: 0; } 
.wrapper input:checked ~ .video { -webkit-clip-path: var(--clip-path-clicked); clip-path: var(--clip-path-clicked); } 
.wrapper input:checked ~ .text { --opacity: 0; transition: opacity 0.3s var(--timing-function); } 
.wrapper input:checked ~ .text::after { -webkit-clip-path: var(--clip-path-clicked); clip-path: var(--clip-path-clicked); } 
.wrapper input:checked ~ .text > span::after { -webkit-clip-path: var(--clip-path-clicked); clip-path: var(--clip-path-clicked); } 

/* ----------------------------------------------------------------- */
.section4 { height: 130vh; padding-top: calc( 100vw * 150 / 1920); background: #F4F3F9; } 
.section4 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: calc( 100vw * -30 / 1920); width: calc( 100vw * 14 / 1920); height: calc( 100vw * 14 / 1920); margin-left: calc( 100vw * -110 / 1920); border-radius: calc( 100vw * 10 / 1920); z-index: 10; } 
.section4 #interviewAll { display: inline-block; position: relative; width: 100%; overflow: hidden; margin: calc( 100vw * 150 / 1920) 0; } 

.section4 #interviewAll .interviewLine { display: flex; white-space: nowrap; will-change: transform; justify-content: space-around; animation: scrolling 10s linear infinite; /* animation: bannermove 5s linear infinite; */ } 
.section4 #interviewAll .interviewLine:hover { animation-play-state: paused; -moz-animation-play-state: paused; -webkit-animation-play-state: paused; } 
.section4 #interviewAll .interviewLine img { margin: calc( 100vw * 10 / 1920) calc( 100vw * 30 / 1920); } 

/* .wrap-marqueeText { gap:3em; position:relative; overflow:hidden; width:80%; } 
.marqueeText { display:flex; flex-flow:row nowrap; justify-content:flex-start; align-items:center; gap:40px; position:relative; } 
.marqueeText dd { flex: none; position: relative; }  */

.section4 #interviewAll .interviewLine .profileAll { display: flex; align-items: center; margin: calc( 100vw * 20 / 1920); } 

.section4 #interviewAll .profileAll .profile { display: none; white-space: nowrap; overflow: hidden; flex-direction: column; justify-content: space-around; height: calc( 100vw * 190 / 1920); padding: calc( 100vw * 40 / 1920) calc( 100vw * 80 / 1920); background: #fff; border-radius: 0 calc( 100vw * 110 / 1920) calc( 100vw * 110 / 1920) calc( 100vw * 110 / 1920); animation: profile .6s; } 
.section4 #interviewAll .interviewLine .profileAll0:hover .profile0 { display: flex; width: auto; } 
.section4 #interviewAll .interviewLine .profileAll1:hover .profile1 { display: flex; width: auto; } 
.section4 #interviewAll .interviewLine .profileAll2:hover .profile2 { display: flex; width: auto; } 
.section4 #interviewAll .interviewLine .profileAll3:hover .profile3 { display: flex; width: auto; } 
.section4 #interviewAll .interviewLine .profileAll4:hover .profile4 { display: flex; width: auto; } 
.section4 #interviewAll .interviewLine .profileAll5:hover .profile5 { display: flex; width: auto; } 
.section4 #interviewAll .interviewLine .profileAll6:hover .profile6 { display: flex; width: auto; } 

/* .listContainer{width:420px;height:120px;position:relative; overflow:hidden; padding-bottom:2px;}
.list {background-color: #FFF6E7;height: 100%;overflow: hidden; padding-top: 7px; width: 700px;position: absolute;left:0;top:0;}
.list li { float: left; height: 116px; margin:0px; width: 140px;}
.list li a {font: 11px/1.3 dotum;color:#3357A4;}
.list li .br {border: 1px solid #E1E2DD; height: 75px; overflow: hidden; position: relative; width: 135px;}
.list li .br img {margin-top:0;}
.list li span { display: block; text-align: center;}
.list .name em {color: #3357A4;font-style: normal;font-weight: bold;}
.list .name { margin: 5px 0 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 135px;}
.list .slo { color: #878787; font: 11px/1.3 dotum; margin-bottom: 2px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;width: 135px;} */


.section4 #interviewAll .profile ul { display: inline-block; margin: calc( 100vw * 20 / 1920) 0; font-family: semiBold; } 
.section4 #interviewAll .profile ul li { display: inline; padding: 0 calc( 100vw * 20 / 1920); font-size: calc( 100vw * 20 / 1920); } 
.section4 #interviewAll .profile ul li:first-child { padding: 0 calc( 100vw * 20 / 1920) 0 0 !important; border-right: calc( 100vw * 2 / 1920) solid #000; } 
.section4 #interviewAll .profile ul .jobBg { color: #fff; background: #404040; padding: calc( 100vw * 5 / 1920) calc( 100vw * 8 / 1920); } 
.section4 #interviewAll .profile p { font-size: calc( 100vw * 24 / 1920); font-family: regular; line-height: 130%; } 

@keyframes profile { 
 0% { width: 0; } 
 50% { width: 310px; } 
 100% { width: auto; padding: calc( 100vw * 40 / 1920) calc( 100vw * 80 / 1920); } 
 }

/* @keyframes bannermove { 
 0% { transform: translateX(0); } 
 100% { transform: translateX(-50%); } 
 }*/

@keyframes scrolling { 
 0% { transform: translateX(0); } 
 100% { transform: translatex(-144vw); } 
 }


/* --------------------------------------------------------------------- */
.section5::before { content: ''; background: #F4F3F9; width: 100vw; height: 190vh; position: absolute; margin-top: calc( 100vw * -950 / 1920); left: -0.3%; border-radius: 50%; z-index: -10; } 
.section5 article { text-align: center; } 
.section5 article #sec5_txt { display: flex; align-items: center; flex-direction: column; justify-content: center; margin: 0 auto calc( 100vw * 200 / 1920) auto; background-color: #fff; text-align: center; width: calc( 100vw * 1200 / 1920); height: calc( 100vw * 400 / 1920); border-radius: calc( 100vw * 200 / 1920); } 
.section5 article #sec5_txt h3 { color: #7362B6; font-size: calc( 100vw * 30 / 1920); font-family: extraBlod; margin-bottom: calc( 100vw * 40 / 1920); } 
.section5 article #sec5_txt p { color: #3D3755; font-size: calc( 100vw * 28 / 1920); font-family: semiBold; line-height: 150%; } 
.section5 article #handMockup { margin: 0 auto; -webkit-user-drag: none; z-index: 100; }
.section5 article #handMockup img { width: 50%; }


/* ----------------------------------------------------------------- */
.section6 { height: 260vh; position: relative; background: #312D40; text-align: center; display: flex; align-items: center; padding: calc( 100vw * 100 / 1920) 0 calc( 100vw * 300 / 1920); z-index: -100; } 
.section6::before { content: ''; background: #312D40; width: 100vw; height: 170vh; position: absolute; margin-top: calc( 100vw * -3200 / 1920); z-index: -100; } 
.section6 .subTitle { color: #fff; margin: calc( 100vw * 700 / 1920) 0 calc( 100vw * 80 / 1920) 0; } 
.section6 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: calc( 100vw * -30 / 1920); width: calc( 100vw * 14 / 1920); height: calc( 100vw * 14 / 1920); margin-left: calc( 100vw * -95 / 1920); border-radius: calc( 100vw * 10 / 1920); z-index: 10; } 
.section6 article { display: flex; align-items: center; justify-content: space-around; position: relative; margin-top: calc( 100vw * 200 / 1920); } 
.section6 article .sec6_con { height: calc( 100vw * 640 / 1920); position: relative; display: flex; flex-direction: column; align-items: center; justify-content: space-around; } 
.section6 article .sec6_con0::before { content: ''; background: url(../source/sec6_arrow.png) no-repeat center center; position: absolute; margin:calc(100vw * -200 / 1920) 0 0 calc( 100vw * 700 / 1920 ); width: calc( 100vw * 350 / 1920 ); height: calc( 100vw * 24 / 1920 ); }
.section6 article .sec6_con0::after { content: ''; background: url(../source/sec6_arrow1.png) no-repeat center center; position: absolute; margin:calc(100vw * -200 / 1920) 0 0 calc( 100vw * 700 / 1920 ); width: calc( 100vw * 350 / 1920); height: calc( 100vw * 24 / 1920 ); } 
.section6 article .sec6_con div { display: inline-block; background: #fff; padding: calc( 100vw * 20 / 1920) calc( 100vw * 40 / 1920); border-radius: calc( 100vw * 40 / 1920); font-size: calc( 100vw * 34 / 1920 ); font-family: semiBold; } 
.section6 article .sec6_con p { color: #fff; width: calc( 100vw * 365 / 1920); font-size: calc( 100vw * 22 / 1920); font-family: regular; line-height: 150%; } 

.section6 h4 { color: #fff; font-size: calc( 100vw * 32 / 1920); font-family: Pbold; margin-top: calc( 100vw * 200 / 1920); } 
.section6 #serviceBox { background: #fff; margin-top: calc( 100vw * 150 / 1920); padding: calc( 100vw * 100 / 1920) calc( 100vw * 30 / 1920); border-radius: calc( 100vw * 230 / 1920); } 
.section6 #serviceBox #servieceOR li { color: #FF6948 !important; } 
.section6 #serviceBox ul { display: inline-block; width: calc( 100vw * 300 / 1920); } 
.section6 #serviceBox ul .serviceTitle { color: #312D40; margin: calc( 100vw * 20 / 1920) 0; font-size: calc( 100vw * 30 / 1920); font-family: Pbold; } 
.section6 #serviceBox ul .servieceEG { color: #979797; font-size: calc( 100vw * 18 / 1920); font-family: regular; line-height: 130%; } 

.section6 #serviceBox::after { content: ''; background: #312D40; width: 100vw; height: 160vh; position: absolute; top: calc( 100vw * 1990 / 1920 ); left: -0.3%; border-radius: 50%; z-index: -100; } 

/* ----------------------------------------------------------------- */
.section7 { height: 150vh; position: relative; background-size: calc(100vw * 1100 / 1920); padding-top: calc( 100vw * 900 / 1920 ); } 
.section7 article { text-align: center; } 
.section7 article h3 { font-size: calc(100vw * 40 / 1920); font-family: Pbold; line-height: 130%; } 
.section7 article p { line-height: 150%; margin: calc( 100vw * 30 /1920 ) 0 calc( 100vw * 100 / 1920 ); } 
.section7 #sec7_mockup img { width: 25%; margin-left: calc( 100vw * 300 / 1920 ); } 
.section7 .sec7_chat { display: inline-block; position: absolute; font-size: calc( 100vw * 30 / 1920 ); font-family: Pmedium; box-shadow: 4.39344e-15px 46.9895px 143.5px rgba(42, 49, 67, 0.2); } 
.section7 .sec7_box0, .section7 .sec7_box2 { background: #FF542F; color: #fff; padding: calc( 100vw * 50 / 1920 ) calc( 100vw * 90 / 1920 ); border-radius: calc( 100vw * 100 / 1920 ) calc( 100vw * 100 / 1920 ) calc( 100vw * 100 / 1920 ) 0; } 
.section7 .sec7_box0 { margin: calc( 100vw * -800 / 1920 ) 0 0 calc( 100vw * 600 / 1920); } 
.section7 .sec7_box1 { display: flex; align-items: center; margin: calc( 100vw * -580 / 1920 ) 0 0 calc( 100vw * 1100 / 1920); padding: calc( 100vw * 50 / 1920 ) calc( 100vw * 100 / 1920 ); border-radius: calc( 100vw * 100 / 1920 ) calc( 100vw * 100 / 1920 ) 0 calc( 100vw * 100 / 1920 ); } 
.section7 .sec7_box1::before { content: url(../source/sec7_icon.png); margin-right: calc( 100vw * 20 / 1920 ); } 
.section7 .sec7_box2 { margin: calc( 100vw * -300 / 1920 ) 0 0 calc( 100vw * 800 / 1920); line-height: 140%; } 

/* ---------------------------------------------------------------------- */
.section8 { height: 150vh; background: #312E3B; padding: calc( 100vw * 300 / 1920 ) 0; text-align: left; } 
.section8 .subTitle { color: #fff;  } 
/* .section8 .subTitle::before { content: ''; background: #312D40; width: 100vw; height: 700vh; border-radius: calc( 100vw * 1000 / 1920 ); position: absolute; left: 0; top: calc( 100vw * -8000 / 1920); z-index: -100; } */
.section8 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: calc( 100vw * -30 / 1920); width: calc( 100vw * 14 / 1920); height: calc( 100vw * 14 / 1920); margin-left: calc( 100vw * -90 / 1920); border-radius: calc( 100vw * 10 / 1920); z-index: 10; } 
.section8 .sec8_art0 { color: #fff; margin: calc( 100vw * 300 / 1920 ) calc( 100vw * 300 / 1920 ) 0 calc( 100vw * 300 / 1920 ); } 
.section8 .sec8_art0 h3 { font-size: calc( 100vw * 32 / 1920 ); } 
.section8 .sec8_art0 p { margin-top: calc( 100vw * 50 / 1920); font-size: calc( 100vw * 24 / 1920); line-height: 150%; } 

.section8 .color { display: flex; margin-top: calc( 100vw * 100 / 1920 ); } 
.section8 .color h4 { font-family: Pbold; margin-bottom: calc( 100vw * 20 / 1920 );}
.section8 .color .sec8_colorOR { height: calc(100vw * 790 / 1920); padding: calc( 100vw * 40 / 1920 ) calc( 100vw * 50 / 1920 ); display: inline-block; width: 0; color: #fff; background: #FF6948; white-space: nowrap; transition: all .4s; } 
.section8 .color .sec8_colorOR.active { width: 60vw; }
.section8 .color .colorRightAll { height: calc(100vw * 870 / 1920); display: flex; flex-direction: column; width: 40vw; } 
.section8 .color .colorRight { padding: calc( 100vw * 40 / 1920 ) calc( 100vw * 50 / 1920 ); } 
.section8 .color .sec8_colorBlu { width: 100%; height: 0; color: #fff; background: #373151;  transition: all .4s; animation-delay: .4s; } 
.section8 .color .sec8_colorGry { width: 100%; height: 0; color: #fff; background: #3A3A3A;  transition: all .4s; animation-delay: .4s; } 
.section8 .color .sec8_colorWh { width: 100%; height: 0; color: #5F5F5F; background: #fff;  transition: all .4s; animation-delay: .4s; } 
.section8 .color .sec8_colorBlu.active { height: 33.3%; }
.section8 .color .sec8_colorGry.active { height: 33.3%; }
.section8 .color .sec8_colorWh.active { height: 33.3%; }

/* ---------------------------------------------------------------------- */
.section9 { height: 100vh; background: #312E3B; } 
.section9 .sec8_art1 { color: #fff; padding-top: calc( 100vw * 80 / 1920 ); } 
.section9 .sec8_art1 h3 { font-size: calc( 100vw * 32 / 1920 ); font-family: Pbold; } 
.section9 .sec8_art1 p { font-size: calc( 100vw * 24 / 1920 ); font-family: Pmedium; margin-top: calc( 100vw * 40 / 1920 ); line-height: 140%; } 
.section9 .sec8_logoAll { display: flex; align-items: center; margin-top: calc(100vw * 60 / 1920 ); } 
.section9 .sec8_logo img { width: 100%; }
.section9 .sec8_logoBox { padding: calc( 100vw * 20 / 1920 ) calc( 100vw * 40 / 1920 ); background: #fff; border-radius: calc( 100vw * 120 / 1920 ) calc( 100vw * 120 / 1920 ) 0 calc( 100vw * 120 / 1920 ); } 
.section9 .sec8_logoBox img { width: 80%; }

/* ------------------------------------------------------------------- */
.section10 { height: 90vh; color: #fff; background: #312E3B; padding-top: calc( 100vw * 200 / 1920 ); } 
.section10 h3 { font-size: calc( 100vw * 32 / 1920 ); font-family: Pbold; margin-bottom: calc( 100vw * 70 / 1920 );} 
.section10 ul li { display: inline-block; } 
.section10 ul .fontType { font-size: calc( 100vw * 32 / 1920 ); width: 40%; }
.section10 ul .usedFont { font-size: calc( 100vw * 64 / 1920 ); width:  50%; margin-top: calc( 100vw * 80 / 1920 );}
.section10 article ul .noto { font-family: 'Noto Sans KR';}

/* ------------------------------------------------------------------- */
.section11 { height: 100vh; color: #fff; background: #312E3B; } 
.section11 article h3 { font-size: calc( 100vw * 32 / 1920 ); font-family: Pbold;}
.section11 article p { float: right; padding-top: calc( 100vw * 200 /1920 ); font-size: calc( 100vw * 24 / 1920 ); line-height: 160%;}

/* ---------------------------------------------------------------------- */
.section12 { height: 160vh; padding-top: calc( 100vw * 200 / 1920 );}
.section12 .subTitle { margin-bottom: calc( 100vw * 150 / 1920 );}
.section12 .subTitle::after { content: ''; background-color: #FF6948; position: absolute; bottom: calc( 100vw * -30 / 1920); width: calc( 100vw * 14 / 1920); height: calc( 100vw * 14 / 1920); margin-left: calc( 100vw * -38 / 1920); border-radius: calc( 100vw * 10 / 1920); z-index: 10; }
.section12 article { display: flex; align-items: flex-start; justify-content: space-between;}
.section12 article h3 { color: #FF542F; font-size: calc( 100vw * 53 / 1920 ); font-family: blackBlod; line-height: 130%; }
.section12 article h3 span { display: block; margin-bottom: calc( 100vw * 20 / 1920 ); font-size: calc( 100vw * 100 / 1920 ); font-family: extraBlod;}
.section12 article div { display: inline-block;  }
.section12 article p { margin-top: calc( 100vw * 60 / 1920 ) ; line-height: 140%; }
.section12 .sec12_mockup { margin-right: calc( 100vw * 70 / 1920 );}
.section12 .sec12_mockup::before { content: ''; background: #FF542F; position: absolute; width: calc( 100vw * 800 / 1920 ); height: calc( 100vw * 800 / 1920 ); margin: calc( 100vw * 250 / 1920 ) 0 0 calc( 100vw * -175 / 1920 ); border-radius: 50%; z-index: -100;}

.section12 .stickerAll { position: relative; margin-top: calc( 100vw * -300 / 1920 ); }
.section12 .sticker { position: absolute; width: calc( 100vw * 250 / 1920 ); height: calc( 100vw * 250 / 1920 ); filter: drop-shadow(-4px 7px 5px rgba(0, 0, 0, 0.25));}
.section12 #sticker0 { top: calc( 100vw * 150 / 1920 ); left: calc( 100vw * -300 / 1920 ); background: url(../source/sec12_sticker0.png) no-repeat center center; background-size: contain; }
.section12 #sticker1 { top: calc( 100vw * -80 / 1920 ); left: calc( 100vw * 80 / 1920 ); background: url(../source/sec12_sticker0.png) no-repeat center center; background-size: contain; z-index: 10; }
.section12 #sticker2 { top: calc( 100vw * -10 / 1920 ); left: calc( 100vw * 200 / 1920 ); background: url(../source/sec12_sticker1.png) no-repeat center center; background-size: contain; }
.section12 #sticker3 { top: calc( 100vw * 160 / 1920 ); left: calc( 100vw * 480 / 1920 ); background: url(../source/sec12_sticker1.png) no-repeat center center; background-size: contain; }
.section12 #sticker4 { top: calc( 100vw * 80 / 1920 ); left: calc( 100vw * 600 / 1920 ); background: url(../source/sec12_sticker0.png) no-repeat center center; background-size: contain; }


/* ---------------------------------------------------------------------- */
.section13 { height: 140vh;}
.section13 article { display: flex; flex-direction: column; justify-content: space-between; position: relative;}
.section13 article .sec13_txt {display: flex; align-items: flex-end; flex-direction: column; }
.section13 article h3 { color: #FF542F; font-size: calc( 100vw * 53 / 1920 ); font-family: blackBlod; line-height: 130%; }
.section13 article h3 span { display: block; width: calc( 100vw * 340 / 1920 ); margin-bottom: calc( 100vw * 20 / 1920 ); font-size: calc( 100vw * 100 / 1920 ); font-family: extraBlod;}
.section13 article p { margin-top: calc( 100vw * 60 / 1920 ) ; line-height: 140%; }
.section13 .sec13_mockupAll { position: relative; margin-top: calc( 100vw * 300 / 1920 ); }
.section13 .sec13_mockupAll::before { content: ''; background: #FF542F; position: absolute; width: calc( 100vw * 750 / 1920 ); height: calc( 100vw * 750 / 1920 ); margin: calc( 100vw * 10 / 1920 ) 0 0 calc( 100vw * 100 / 1920 ); border-radius: 50%; z-index: -100;}
.section13 .sec13_keyword { color: #fff; background: #FD5A36; position: absolute; padding: calc( 100vw * 20 / 1920) calc( 100vw * 30 / 1920 ) calc( 100vw * 20 / 1920 ) calc( 100vw * 50 / 1920 ); border-radius: calc( 100vw * 50 / 1920 ); z-index: 10;}
.section13 .sec13_keyword::before { content: ''; background: #fff; width: calc( 100vw * 10 / 1920 ); height: calc( 100vw * 10 / 1920 ); position: absolute; margin: calc( 100vw * 5 / 1920 ) 0 0 calc( 100vw * -20 / 1920 ); border-radius: calc( 100vw * 5 / 1920 );}
.section13 .keyword0 { position: absolute; top: calc( 100vw * -250 / 1920 ); left: calc( 100vw * 600 / 1920 ); }
.section13 .keyword0::after { content: ''; position: absolute; background: #fff; width: calc( 100vw * 1 / 1920 ); height: calc( 100vw * 480 / 1920 ); margin-left: calc( 100vw * -160 / 1920 ); border-left: 2px dashed #FD5A36; z-index: -100; }
.section13 .keyword1 { position: absolute; top: calc( 100vw * -100 / 1920 ); left: calc( 100vw * 950 / 1920 ); }
.section13 .keyword1::after { content: ''; position: absolute; height: calc( 100vw * 240 / 1920 ); margin-left: calc( 100vw * -205 / 1920 ); border-left: 2px dashed #FD5A36; z-index: -1; }
.section13 .keyword2 { position: absolute; top: calc( 100vw * 340 / 1920 ); left: calc( 100vw * 950 / 1920 ); }
.section13 .keyword2::after { content: ''; position: absolute; width: calc( 100vw * 100 / 1920 ); height: calc( 100vw * 50 / 1920 ); margin: calc( 100vw * 9 / 1920 ) 0 0 calc( 100vw * -230 / 1920 ); border-top: 2px dashed #FD5A36; border-left: 2px dashed #FD5A36; z-index: -1; }

/* ----------------------------------------------------------------------- */
.section14 { height: 140vh; background: #FF542F; color: #fff; text-align: center; border-radius: 50% 50% 0 0; margin-top: calc( 100vw * 180 / 1920 ); }
.section14 article { background: url(../source/mask_mockup.png) no-repeat center 170%; padding-top: calc( 100vw * 700 / 1920 ); border-radius: 48% 48% 0 0;}
.section14 article h3 { font-size: calc( 100vw * 53 / 1920 ); font-family: PLight; }
.section14 article p { margin-top: calc( 100vw * 50 / 1920 ); font-size: calc( 100vw * 24 / 1920 ); font-family: PLight; line-height: 150%;}
.section14 article .sec14_bold { font-family: blackBlod;}


/* ----------------------------------------------------------------------- */
.section15 { height: 150vh; color: #fff; background: #FF542F;}
.section15 article { display: flex; align-items: flex-start; justify-content: space-between;}
.section15 article h3 { font-size: calc( 100vw * 53 / 1920 ); font-family: blackBlod; line-height: 130%; }
.section15 article h3 span { display: block; margin-bottom: calc( 100vw * 20 / 1920 ); font-size: calc( 100vw * 100 / 1920 ); font-family: extraBlod;}
.section15 article p { margin-top: calc( 100vw * 60 / 1920 ) ; line-height: 140%; }
.section15 .sec15_leftAll { position: relative; }
.section15 .sec15_left0 img { width: 30%; position: absolute; }
.section15 .sec15_left1 img { width: 30%; position: absolute; }

/* ------------------------------------------------------------------------- */
.section16 { color: #fff; background: #FF542F; }
.section16 article { display: flex; flex-direction: column; justify-content: space-between;}
.section16 article .sec16_txt {display: flex; align-items: flex-end; flex-direction: column; }
.section16 article h3 { color: #fff; font-size: calc( 100vw * 53 / 1920 ); font-family: blackBlod; line-height: 130%; }
.section16 article h3 span { display: block; width: calc( 100vw * 340 / 1920 ); margin-bottom: calc( 100vw * 20 / 1920 ); font-size: calc( 100vw * 100 / 1920 ); font-family: extraBlod;}
.section16 article p { margin: calc( 100vw * 60 / 1920 ) calc( 100vw * 40 / 1920 ) 0 0 ; line-height: 140%; }


/* ------------------------------- footer ------------------------------------ */
footer { padding: calc( 100vw * 70 / 1920) 0 calc( 100vw * 50 / 1920) 0; text-align: center; font-family: Plight; background-color: #FF542F; color: #fff; } 
footer .teamAll { display: flex; flex-direction: column; } 
footer h3 { font-size: calc( 100vw * 30 / 1920); font-family: PBold; } 
footer #team { margin-top: calc( 100vw * 30 / 1920 );}
footer #team > li { display: inline-block; margin: calc( 100vw * 20 / 1920); } 
footer .member li { margin: calc( 100vw * 30 / 1920) 0; } 
footer .member .memoticon { background: #fff; border-radius: 50%; padding: calc( 100vw * 50 / 1920 ); margin: 0 calc( 100vw * 20 / 1920 );}
footer .member .memoticon img { width: calc( 100vw * 140 / 1920 );}
footer .member .memberPart { font-size: calc( 100vw * 27 / 1920 ); font-family: semiBold; }
footer .teamAll #copy { margin-top: calc( 100vw * 30 / 1920); font-size: calc( 100vw * 17 / 1920); } 

/* scrollTop */
#scrollTop { background-color: rgba(255, 255, 255, 0.925); font-family: semiBold; box-shadow: 0px 1.5px 3px #929292; color:#000; align-content: center; width: calc( 100vw * 65 / 1920); height: calc( 100vw * 65 / 1920 ); border-radius: calc( 100vw * 50 / 1920 ); text-align: center; font-size: calc( 100vw * 12 / 1920 ); bottom: calc( 100vw * 40 / 1920 ); right: calc( 100vw * 50 / 1920 ); position: fixed; z-index: 3; cursor: pointer; } 
#scrollTop:hover { transition: 0.5s ease; background-color: #dededee9; } 
#scrollTop::before { content: "\2303"; position: absolute; top: calc( 100vw * 15 / 1920 ); left: calc( 100vw * 23 / 1920 ); color: #000; font-size: calc( 100vw * 23 / 1920); } 
#scrollTop .topTxt { display: block; margin-top: calc( 100vw * 30 / 1920 ); font-size: calc( 100vw * 14 / 1920); } 


/* ------------------------- responsive --------------------------- */
/* @media screen and (min-width: 768px) { body { background-color: #6c6c6c; } 
 }*/

@media screen and (min-width: 1024px) { /* body { background-color: #a8a8a8; } */
 .desktop { display: block; } 
 nav #gnb { position: static; width: auto; height: 50px; line-height: 50px; text-align: right; padding: 0; } 
 nav #gnb li { display: inline-block; margin: 0 20px; padding: 0; } 
 .menu-trigger { margin-top: -20px; display: none; } 
 }

@media screen and (min-width: 1440px) { body { background-color: #fff; } 
 }
