header { background-color: rgba(255, 255, 255, 0.422); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(4px); width: 100%; height: 80px; display: flex; align-items: flex-end; font-family: semiBold; font-size: calc(100vw * 20 / 1920); position: fixed; top: 0; left: 0; transition: all .4s; z-index: 100; } 

header div.inner #logoTop { margin-top: 15px; cursor: pointer; } 

header div.inner #logoTop img { width: calc(100vw * 100 / 1920); } 

header div.inner { display: flex; justify-content: space-between; margin-bottom: 15px; transition: all .4s; } 

header nav #gnb li { display: inline-block; padding: 0 calc(100vw * 10 / 1920); color: rgba(0, 0, 0, 0.587); transition: all .3s; cursor: pointer; } 

header nav #gnb li:hover { color: #000; transform: scale(1.1); } 

.progressbar { position: absolute; height: calc(100vw * 6 / 1920); left: 0; width: 100%; z-index: 100; } 

.progressbar>.progress { width: 0%; height: 100%; transition: width 0.3s ease-out; background-color: #FF6948; } 

/* .menu-trigger,
.menu-trigger span { transition: all .4s; } 

.menu-trigger { display: none; position: relative; width: 30px; height: 30px; float: right; margin-top: -40px; margin-right: 14px; } 

.menu-trigger span { display: block; width: 100%; height: 4px; background-color: #383838; border-radius: 4px; position: absolute; left: 0; } 

.menu-trigger span:nth-of-type(2) { top: 0; } 

.menu-trigger span:nth-of-type(3) { top: 50%; margin-top: -2px; } 

.menu-trigger span:nth-of-type(4) { bottom: 0; } 

.menu-trigger.active span:nth-of-type(2) { -webkit-transform: translateY(13px) rotate(-45deg); transform: translateY(13px) rotate(-45deg); } 

.menu-trigger.active span:nth-of-type(3) { opacity: 0; } 

.menu-trigger.active span:nth-of-type(4) { -webkit-transform: translateY(-13px) rotate(45deg); transform: translateY(-13px) rotate(45deg); } */


/* ------------------------- responsive --------------------------- */
@media screen and (max-width: 768px) {
    header { height: 55px;}
 header div.inner #logoTop img { width: 70px; } 

 header nav #gnb { position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; padding-top: 100px; z-index: 150; top: 0; right: -10%; height: 100vh; width: 0; background-color: #222; box-shadow: -2px 0 15px #00000049; overflow: hidden; } 
header nav #gnb.active { width: 70%; right: 0; } 
header nav #gnb li { padding: 35px 25px; color: #fff; font-size: 17px; } 
header nav #gnb li:hover { color: #FF6948;} 

 .menu-trigger,
.menu-trigger span { transition: all .4s; } 
 .menu-trigger { width: 25px; height: 20.5px; background-color: transparent; border: none; position: relative; cursor: pointer; z-index: 170; display: inline-block; } 
.menu-trigger span { background-color:#bebebe; position: absolute; border-radius: 2px; transition: .3s cubic-bezier(.8, .5, .2, 1.4); width:100%; height: 3px; transition-duration: 500ms } 
.menu-trigger:hover span { background-color: #8d8d8d; } 

.menu-trigger span:nth-child(2) { top: 0px; left: 0px; } 
.menu-trigger span:nth-child(3) { top: 9px; left: 0px; opacity: 1; } 
.menu-trigger span:nth-child(4) { bottom: 0px; left: 0px; } 

.menu-trigger:not(.open):hover span:nth-child(2) { transform: rotate(6deg) scaleY(1.1); } 
.menu-trigger:not(.open):hover span:nth-child(3) { transform: rotate(-4deg) scaleY(1.1); } 
.menu-trigger:not(.open):hover span:nth-child(4) { transform: rotate(6deg) scaleY(1.1); } 
.menu-trigger.open span:nth-child(2) { transform: rotate(45deg); top: 13px; } 
.menu-trigger.open span:nth-child(3) { opacity:0; } 
.menu-trigger.open span:nth-child(4) { transform: rotate(-45deg); top: 13px; } 

 }

@media screen and (max-width: 1024px) { } 

@media screen and (max-width: 1440px) { body { background-color: #fff; } 
 }