/* ------------------------- responsive --------------------------- */
@media screen and (max-width: 768px) { body { cursor: auto; } 

 .inner { width: 85%; margin: 0 auto; } 
 section .subTitle { font-size: 13px; } 
 .mainBanner { height: 100vh; } 
 .mainBanner article { height: 90vh; padding-top: 20px; justify-content: center; align-items: stretch; flex-direction: column; } 
 
 .mainBanner article .sec0_con { height: auto; margin-top: 25px; justify-content: flex-start; align-items: center; align-items: stretch; flex-direction: column; } 

 .mainBanner article #tools { margin: 15px 0 0 0; width: auto; } 
 .mainBanner article #tools li img { width: 16px; } 

 .mainBanner #mainInfo { margin-bottom: 0; } 
 .mainBanner article #biInfo { margin-top: 0; } 
 .mainBanner article #biInfo #serviceInfo { position: relative; font-size: 12px; } 
 .mainBanner article #biInfo #serviceInfo::after { margin: 0; position: absolute; margin-left: 10px; top: -47px; width: 55px; height: 55px; } 

 .mainBanner article #biInfo img { width: 150px; } 
 .mainBanner article #mainMockup img { width: 100%; } 
 .mainBanner #mainInfo ul { font-size: 8px; } 

 .serviceBg { height: 75vh; display: flex; align-items: center; margin-top: 0; } 
 .serviceBg .subTitle { font-size: 13px; } 
 .serviceBg .subTitle::after { margin-left: -38px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; } 

 .serviceBg article #sec1_txt { margin: 0; } 
 .serviceBg article #sec1_txt h3 { margin-bottom: 25px; font-size: 24px; font-family: extraBlod; } 
 .serviceBg article #sec1_txt p { width: 95%; margin: 0 auto; color: #555; font-size: 13px; font-family: Pmedium; line-height: 150%; } 

 .overview { height: 75vh; background-color: #fff; } 
 .overview .subTitle::after { margin-left: -30px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; } 

 .overview article #sec2_txt { flex-direction: column; } 
 .overview article #sec2_txt h3 { margin-bottom: 12px; font-size: 24px; font-family: extraBlod; } 
 .overview article #sec2_txt p { width: 100%; color: #999; font-size: 11px; line-height: 135%; text-align: center; } 
 .overview article #sec2_box { margin: 60px 0 30px 0; } 
 .overview article #sec2_box div { width: 30%; } 
 .overview article #sec2_arrow { width: 6px; height: 6px; margin-top: 70px; }
 .overview article #sec2_arrow::before { left: 2px; bottom: 0; height: 40px; }
 .overview article #sec2_bottom { font-size: 17px; } 

 .searchResult::before { height: 58vh; border-radius: 45%; } 

 .promoVid { height: 50vh; } 
 .promoVid iframe { width: 100%; height: 210px; } 

 .research { height: 70vh;}
 .research .subTitle::after { margin-left: -45px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; } 
 .research #interviewAll .interviewLine .profileAll img { width: 150px; } 
 .research #interviewAll .interviewLine .profileAll .profile { padding: 45px 25px; justify-content: center; border-radius: 0 30px 30px 30px;}
 .research #interviewAll .profile ul { margin-bottom: 15px; }
 .research #interviewAll .profile ul li { font-size: 12px; }
 .research #interviewAll .profile p { font-size: 10px; }
 
 .searchResult { height: 78vh;}
 .searchResult article #sec5_txt { padding: 5px 15px; margin: 0 auto 40px auto; width: 75%;}
 .searchResult article #sec5_txt h3 { font-size: 14px; }
 .searchResult article #sec5_txt p { font-size: 11px; font-family: regular; line-height: 130%;}
 .searchResult article #handMockup img { width: 60%; }

 /* ---------- loop img test ----------- */
/* .wrap { margin: 0 auto; width: 800px; } 
 .wrap--text { margin-bottom: 40px; padding: 0 50px; text-align: center; } 
 .wrap--logobar { height: 180px; overflow: hidden; position: relative; } 
 
 .list { list-style: none; display: flex; margin: 0; padding: 0; position: absolute; width: 100%; margin-left: 0; } 
 .list__item { flex-grow: 0; flex-shrink: 0; text-align: center; width: 20%; }  */

 .totalGoal { margin-top: 100px; height: 70vh; }
 .totalGoal::before { height: 45vh; border-radius: 50% 50% 0 0;}

 .roundBg { height: 45vh; }

 .totalGoal .inner { width: 100%; }
 .totalGoal .subTitle { margin: 0 auto 60px auto;}
 .totalGoal .subTitle::after { margin-left: -39px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; }

 .totalGoal article .sec6_con .goalIcon { width: 70%;}
 .totalGoal article .sec6_con0::before { margin: -80px 0 0 190px; width: 90px; height: 20px; }
 .totalGoal article .sec6_con0::after { margin: 200px 0 0 200px; width: 160px; height: 110px; }
 .totalGoal article .sec6_con div { padding: 5px 10px; margin-top: 5px; font-size: 13px; border-radius: 15px; }
 .totalGoal article .sec6_con p { margin-top: 10px; width: 100%; font-size: 8px; font-family: Plight; }

 .totalGoal h4 { margin-top: 120px; font-size: 17px; }
 .totalGoal #serviceBox { display: flex; flex-wrap: wrap; justify-content: center; margin: 30px auto 0 auto; width: 75%; border-radius: 35px;}
 .totalGoal #serviceBox ul { width: 45%; }
 .totalGoal #serviceBox ul:first-child, .totalGoal #serviceBox ul:nth-child(2) { margin-bottom: 20px;}
 .totalGoal #serviceBox ul li img { width: 80px;}
 .totalGoal #serviceBox ul .serviceTitle { font-size: 12px; }
 .totalGoal #serviceBox ul .servieceEG { font-size: 8px; font-family: Plight; line-height: 110%; }

 .mainService { margin-top: 130px; height: 85vh; }
 .mainService article h3 { font-size: 17px; line-height: 120%; }
 .mainService article p { margin-bottom: 60px; color: #999; font-size: 10px; line-height: 135%; }
 .mainService #sec7_vid { margin-left: 10px; max-width: 200px; }

 .mainService .sec7_box0, .mainService .sec7_box2 { padding-right: 20px; font-size: 11px; }
 .mainService .sec7_box0 { margin: -300px 0 0 160px; }
 .mainService .sec7_box0::after,
 .mainService .sec7_box2::after { content: ''; right: -7px; top: 0; width: 27px; height: 27px; background: url(../source/audioIcon.png) center center; background-size: cover; filter: drop-shadow(0 0 3px #c4c4c4);}

 .mainService .sec7_box1::before { content: ''; width: 18px; height: 18px; margin-right: 6px; background: url(../source/sec7_icon.png) center center; background-size: cover;}
 .mainService .sec7_box1 { padding: 12px 15px; margin: -210px 0 0 220px; font-size: 11px; }
 .mainService .sec7_box2 { margin: -100px 0 0 160px; }

 .serviceColor { height: 85vh; padding: 150px 0 0 0;}
 .serviceColor .subTitle::after { margin-left: -37px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; }
 .serviceColor .sec8_txt { width: 78%; margin: 100px auto 50px auto; }
 
 .serviceColor .sec8_txt h3,
 .serviceLogo .sec8_art1 h3,
 .serviceTypo h3  { font-size: 14px; font-family: Pbold; }
 .serviceColor .sec8_txt p,
 .serviceLogo .sec8_art1 p { font-size: 12px; font-family: extraLight; }
 
 .serviceColor .allColor h4 { font-size: 10px; }
 .serviceColor .allColor p { font-size: 8px; }
 
 .serviceLogo .sec8_art1 { width: 78%; }
 .serviceLogo .sec8_logoAll { flex-direction: column; margin-top: 60px;}
 .serviceLogo .sec8_logo img { display: block; width: 90%; margin: 0 auto;}
 .serviceLogo .sec8_logoBox { padding: 15px 28px; margin-top: 80px; border-radius: 30px 30px 0 30px;}
 .serviceLogo .sec8_logoBox img { width: 200px; }

 .serviceTypo { height: 60vh; }
 .serviceTypo ul .fontType { font-size: 15px; font-family: extraLight; }
 .serviceTypo ul .usedFont { font-size: 18px; }
 .serviceTypo article ul:last-child li:last-child { font-family: Pbold;}   


 }

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) { body { background-color: #fff; } 
 }