/* ------------------------- responsive --------------------------- */
@media screen and (max-width: 768px) { body { cursor: auto; } 

 .inner { width: 85%; margin: 0 auto; } 
 section .subTitle { font-size: 13px; } 
 .mainBanner { height: 100vh; } 
 .mainBanner article { height: 90vh; padding-top: 20px; justify-content: center; align-items: stretch; flex-direction: column; } 
 
 .mainBanner article .sec0_con { height: auto; margin-top: 25px; justify-content: flex-start; align-items: center; align-items: stretch; flex-direction: column; } 

 .mainBanner article #tools { margin: 15px 0 0 0; width: auto; } 
 .mainBanner article #tools li img { width: 16px; } 

 .mainBanner #mainInfo { margin-bottom: 0; } 
 .mainBanner article #biInfo { margin-top: 0; } 
 .mainBanner article #biInfo #serviceInfo { position: relative; font-size: 12px; } 
 .mainBanner article #biInfo #serviceInfo::after { margin: 0; position: absolute; margin-left: 10px; top: -47px; width: 55px; height: 55px; } 

 .mainBanner article #biInfo img { width: 150px; } 
 .mainBanner article #mainMockup img { width: 100%; } 
 .mainBanner #mainInfo ul { font-size: 8px; } 

 .serviceBg { height: 75vh; display: flex; align-items: center; margin-top: 0; } 
 .serviceBg .subTitle { font-size: 13px; } 
 .serviceBg .subTitle::after { margin-left: -38px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; } 

 .serviceBg article #sec1_txt { margin: 0; } 
 .serviceBg article #sec1_txt h3 { margin-bottom: 25px; font-size: 24px; font-family: extraBlod; } 
 .serviceBg article #sec1_txt p { width: 95%; margin: 0 auto; color: #555; font-size: 13px; font-family: Pmedium; line-height: 150%; } 

 .overview::before { content: ''; position: absolute; top: 0; left: 0; height: 48vh; width: 100%; border-radius: 50% 50% 0 0; background: #F4F3F9;}
 .overview { position: relative; height: 75vh;  } 
 .overview .subTitle::after { margin-left: -30px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; } 

 .overview article #sec2_txt { flex-direction: column; } 
 .overview article #sec2_txt h3 { margin-bottom: 12px; font-size: 24px; font-family: extraBlod; } 
 .overview article #sec2_txt p { width: 100%; color: #999; font-size: 11px; line-height: 135%; text-align: center; } 
 .overview article #sec2_box { margin: 60px 0 30px 0; } 
 .overview article #sec2_box div { width: 30%; } 
 .overview article #sec2_arrow { width: 6px; height: 6px; margin-top: 70px; }
 .overview article #sec2_arrow::before { left: 2px; bottom: 0; height: 40px; }
 .overview article #sec2_bottom { font-size: 17px; } 

 .searchResult::before { height: 58vh; border-radius: 45%; } 

 .promoVid { height: 50vh; } 
 .promoVid iframe { width: 100%; height: 210px; } 

 .research { height: 70vh;}
 .research .subTitle::after { margin-left: -45px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; } 
 .research #interviewAll .interviewLine .profileAll img { width: 150px; } 
 .research #interviewAll .interviewLine .profileAll .profile { padding: 45px 25px; justify-content: center; border-radius: 0 30px 30px 30px;}
 .research #interviewAll .profile ul { margin-bottom: 15px; }
 .research #interviewAll .profile ul li { font-size: 12px; }
 .research #interviewAll .profile p { font-size: 10px; }
 
 .searchResult { height: 78vh;}
 .searchResult article #sec5_txt { padding: 10px 17px; margin: 0 auto 40px auto; width: 79%; border-radius: 50px;}
 .searchResult article #sec5_txt h3 { font-size: 18px; }
 .searchResult article #sec5_txt p { font-size: 11px; font-family: regular; line-height: 130%;}
 .searchResult article #handMockup img { width: 65%; }

 /* ---------- loop img test ----------- */
/* .wrap { margin: 0 auto; width: 800px; } 
 .wrap--text { margin-bottom: 40px; padding: 0 50px; text-align: center; } 
 .wrap--logobar { height: 180px; overflow: hidden; position: relative; } 
 
 .list { list-style: none; display: flex; margin: 0; padding: 0; position: absolute; width: 100%; margin-left: 0; } 
 .list__item { flex-grow: 0; flex-shrink: 0; text-align: center; width: 20%; }  */

 .totalGoal { margin-top: 100px; height: 70vh; }
 .totalGoal::before { height: 45vh; border-radius: 50% 50% 0 0;}

 .roundBg { height: 45vh; }

 .totalGoal .inner { width: 100%; }
 .totalGoal .subTitle { margin: 0 auto 60px auto;}
 .totalGoal .subTitle::after { margin-left: -39px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; }

 .totalGoal article .sec6_con .goalIcon { width: 70%;}
 .totalGoal article .sec6_con0::before { margin: -80px 0 0 190px; width: 90px; height: 20px; }
 .totalGoal article .sec6_con0::after { margin: 200px 0 0 200px; width: 160px; height: 110px; }
 .totalGoal article .sec6_con div { padding: 5px 10px; margin-top: 5px; font-size: 13px; border-radius: 15px; }
 .totalGoal article .sec6_con p { margin-top: 10px; width: 100%; font-size: 10px; font-family: Plight; }

 .totalGoal h4 { margin-top: 120px; font-size: 17px; }
 .totalGoal #serviceBox { display: flex; flex-wrap: wrap; justify-content: center; margin: 30px auto 0 auto; width: 78%; border-radius: 35px;}
 .totalGoal #serviceBox ul { width: 45%; }
 .totalGoal #serviceBox ul:first-child, .totalGoal #serviceBox ul:nth-child(2) { margin-bottom: 20px;}
 .totalGoal #serviceBox ul li img { width: 80px;}
 .totalGoal #serviceBox ul .serviceTitle { font-size: 14px; }
 .totalGoal #serviceBox ul .servieceEG { width: 95%; font-size: 9px; font-family: Plight; line-height: 110%; }

 .mainService { margin-top: 130px; height: 85vh; }
 .mainService article h3 { font-size: 22px; line-height: 120%; }
 .mainService article p { margin-bottom: 60px; color: #999; font-size: 10px; line-height: 135%; }
 .mainService #sec7_vid { margin-left: 10px; max-width: 200px; }

 .mainService .sec7_box0, .mainService .sec7_box2 { padding-right: 20px; font-size: 11px; }
 .mainService .sec7_box0 { margin: -300px 0 0 160px; }
 .mainService .sec7_box0::after,
 .mainService .sec7_box2::after { content: ''; right: -7px; top: 0; width: 27px; height: 27px; background: url(../source/audioIcon.png) center center; background-size: cover; filter: drop-shadow(0 0 3px #c4c4c4);}

 .mainService .sec7_box1::before { content: ''; width: 18px; height: 18px; margin-right: 6px; background: url(../source/sec7_icon.png) center center; background-size: cover;}
 .mainService .sec7_box1 { padding: 12px 15px; margin: -210px 0 0 220px; font-size: 11px; }
 .mainService .sec7_box2 { margin: -100px 0 0 160px; }

 .serviceColor { height: 85vh; padding: 150px 0 0 0;}
 .serviceColor .subTitle::after { margin-left: -37px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; }
 .serviceColor .sec8_txt { width: 78%; margin: 100px auto 50px auto; }
 
 .serviceColor .sec8_txt h3,
 .serviceLogo .sec8_art1 h3,
 .serviceTypo h3  { font-size: 16px; font-family: semiBold; }
 .serviceColor .sec8_txt p,
 .serviceLogo .sec8_art1 p { font-size: 12px; font-family: extraLight; }
 
 .serviceColor .allColor h4 { font-size: 10px; }
 .serviceColor .allColor p { font-size: 8px; }
 
 .serviceLogo .sec8_art1 { width: 78%; }
 .serviceLogo .sec8_logoAll { flex-direction: column; margin-top: 60px;}
 .serviceLogo .sec8_logo img { display: block; width: 90%; margin: 0 auto;}
 .serviceLogo .sec8_logoBox { padding: 15px 28px; margin-top: 80px; border-radius: 40px 40px 0 40px;}
 .serviceLogo .sec8_logoBox img { width: 200px; }

 .serviceTypo { height: 50vh; }
 .serviceTypo ul .fontType { font-size: 15px; font-family: extraLight; }
 .serviceTypo ul .usedFont { font-size: 18px; }
 .serviceTypo article ul:last-child li:last-child { font-family: Pbold;}   
 .serviceYong { height: 60vh; }

 .service01 { height: 130vh; }
 .service01 .subTitle { margin-bottom: 80px;}
 .service01 .subTitle::after { margin-left: -16px; bottom: -12px; width: 6px; height: 6px; border-radius: 50%; }

 .service01 article { flex-direction: column; }
 .service01 article h3,
 .service02 article h3,
 .service03 article h3,
 .service04 article h3,
 .service05 article h3,
 .service06 article h3 { font-size: 22px; }
 .service01 article h3 span,
 .service02 article h3 span,
 .service03 article h3 span,
 .service04 article h3 span,
 .service05 article h3 span,
 .service06 article h3 span { margin-bottom: 6px; font-size: 40px; }
 .service01 article p,
 .service02 article p,
 .service03 article p,
 .service04 article p, 
 .service05 article p,
 .service06 article p { font-size: 13px; line-height: 130%; }
 .service04 article p { margin-right: 0; text-align: right; }
 .service01 .sec12_txt { margin-bottom: 50px; }

 .service01 .sec12_mockup::before { margin: 100px 0 0 -40px; width: 220px; height: 220px; }
 .service01 .sec12_mockup { margin: 0; width: 100%; }
 .service01 .sec12_mockup div { position: relative; width: 100%; }
 .service01 .sec12_mockup img { position: absolute; top: 0; left: 70px; margin: -10px 0 0 0; width: 210px; height: 440px ;}
 .service01 #sec12_vid { margin: 0; top: 0; left: 80px; max-width: fit-content; width: 190px; height: fit-content; }

 .service01 .stickerAll { margin-top: 300px; }
 .service01 #sticker0,
 .service01 #sticker1,
 .service01 #sticker2,
 .service01 #sticker3,
 .service01 #sticker4  { width: 30%; }

 .service01 #sticker1 { top: -40px; left: 0; }
 .service01 #sticker2 { top: 130px; left: 30px; }
 .service01 #sticker3 { top: 100px; left: 250px; }
 .service01 #sticker4 { top: 30px; left: 280px; }

 .service02 { height: 90vh; }
 .service02 article .sec13_txt { align-items: flex-start;}
 .service02 .sec13_mockupAll::before { margin: 30px 0 0 -70px; width: 210px; height: 210px; }
 .service02 .sec13_mockupAll .s02_mockup { margin: 80px 0 0 -20px; width: 110%; }
 
 .service02 .sec13_keyword::before { margin: 3px 0 0 -9px; width: 4px; height: 4px; border-radius: 5px;}
 .service02 .sec13_keyword { padding: 7px 11px 7px 18px; font-size: 12px; border-radius: 20px; }

 .service02 .keyword0 { top: 15px; left: 135px; } 
 .service02 .keyword0::after { margin-left: -48px; height: 140px; }
 .service02 .keyword1 { top: -30px; left: 200px; right:-10px; } 
 .service02 .keyword1::after { margin-left: -25px; height: 140px; }
 .service02 .keyword2 { top: 60px; left: 210px; } 
 .service02 .keyword2::after { margin-left: -35px; height: 143px; }

 .voiceService { height: 50vh; }
 .voiceService .sec14_mask img { margin: -250px 0 40px 0; width: 240px;}
 .voiceService article h3 { font-size: 25px; }
 .voiceService article .sec14_bold { font-family: extraBlod;}
 .voiceService article p { font-size: 15px; }

 .service03 { padding-top: 260px; height: 110vh; }
 .service03 .sec15_txt { width: 100%; }
 .service03 article { flex-direction: column; }
 .service03 article .s03_mockup { margin-top: 50px; width: 100%; }

 .service03 .sec15_left0 { top: -390px; left: 170px; width: 230px; height: 80px; background-size: cover;}
 .service03 .sec15_left1 { top: -40px; left: 30px; width: 230px; height: 85px; background-size: cover; filter: drop-shadow(0 0 2px #1111117a);}

 .service04 { height: 90vh;}
 .service04 .sec16_mockup { margin-top: 120px;}
 .service04 .sec16_mockup .sec16_mockup0 { width: 60%; }
 .service04 .sec16_mockup>div { width: 60%; }

 .service04 .sec16_mockup .sec16_mockup1 .sec16_frame { top: -100px; left: 0; }
 .service04 .sec16_mockup .sec16_pop0{ margin: -85px 0 0 5px; width: 125px; }

 .service04 .sec16_mockup .sec16_mockup2 .sec16_frame { top: -100px; left: 155px; }
 .service04 .sec16_mockup .sec16_pop1 { margin: -30px 0 0 193px; width: 115px; filter: drop-shadow(0 0 5px #00000038); }

 .service05 { position: relative; height: 90vh; border-radius: 0;}
 .service05::after { content: ''; position: absolute; bottom: -42vh; left: 0; width: 100%; height: 42vh; background-color: #FF542F; border-radius: 0 0 50% 50%; }

 .service05 .sec17_mockup .sec17_frame { width: 190px; }
 .service05 .sec17_mockup .sec17_pop { width: 160px; margin: 190px 0 0 -155px; }

 .service05 .sec17_keyword::before { margin: 3px 0 0 -9px; width: 4px; height: 4px; border-radius: 5px;}
 .service05 .sec17_keyword { padding: 7px 11px 7px 18px; font-size: 12px; border-radius: 20px; }
 .service05 .sec17_keyword0 { width: 12%; left: 20px; right: 0; }
 .service05 .sec17_keyword1 { width: 12%; top: 120px; right: 2cqh;}

 .service06 { height: 130vh; margin-top: 55vh; }
 .service06 .sec18_mockup { margin-top: 50px; flex-wrap: wrap; }
 .service06 .sec18_mockup img { width: 43%; height: 100%; }
 .service06 .sec18_mockup img:last-child { width: 45%; }

 .service07 { height: 130vh; }
 .service07 article .sec19_txt h3 { font-size: 24px; }
 .service07 article .sec19_txt p { font-size: 12px; }
 .service07 article .sec19_mockup { padding-bottom: 0; }
 .service07 article .sec19_mockup img { margin-top: 0; width: 200px; }



 #scrollTop { background: #fff; font-family: pMedium; box-shadow: 0 1px 6px #36363689; color: #171717; align-content: center; width: 45px; height: 45px; bottom: 30px; right: 25px;  border-radius: 50%; text-align: center; font-size: 12px; position: fixed; cursor: pointer; z-index: 50; } 
 #scrollTop::before { content: "\2303"; position: absolute; top: 8px; left: 15px; color: #171717; font-family: pLight; font-size: 18px; } 
 #scrollTop:hover { background-color: #fff; } 
 #scrollTop .topTxt { display: block; margin-top: 21px; font-size: 12px; } 

 footer { height: 460px; padding: 50px 0; }
 footer .teamAll { height: 90%; }
 footer #team { height: 100%; flex-wrap: wrap; justify-content: space-evenly;}
 footer .member .memberPart { display: inline-block; padding: 4px 10px; margin-bottom: 13px; color: #fff; border: 1.5px solid #fff; border-radius: 12px; font-size: 13px; }
 footer .member .memoticon { margin-bottom: 7px; width: 70px; }
 footer .member .name { margin-bottom: 5px; font-size: 13px; }
 footer .member li { margin: 0;}
 footer .member li:last-child a { font-size: 10px; }
 
 footer .source .src { font-size: 11px; }
 footer .source .srcLink { font-size: 9px; }
 footer .footerBtm .file::before { content: ''; position: absolute; top: 4px; left: 5px; width: 11px; height: 11px; background: url(../source/downIco.png) center center; background-size: cover;}
 footer .footerBtm .file { position: relative; width: auto; padding: 5px 8px 5px 21px; font-size: 12px; border-radius: 5px; }
 footer .footerBtm .file:hover { background-color: #FF542F;}
 footer .footerBtm .file:hover a { color: #fff; }
 footer .copyRight { font-size: 9px; }

 }

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) { body { background-color: #fff; } 
 }